.idea/
*.iml
out/
gen/

target/
*.class
*.jar
*.war
*.zip
*.tar.gz

backend/src/main/resources/application-local.properties

node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db